.table-row-even{
    background-color: #4772d5;
    word-wrap: break-word;
}
.table-row-odd{
    background-color: #5486fb;
    word-wrap: break-word;
}
.table-rounded{
    border-radius: 20px 20px 0px 0px;
}
.row-centered{
    align-items: center;
    justify-content: center;
}

.black-background {
    background-color: black;
    padding: 1rem;
    padding-top: 2rem;
    max-width: 90%;
    margin-bottom: 5rem;
  }

  .react-bootstrap-table-page-btns-ul{
    align-items: right;
    justify-content: right;
  }