body {
  margin: 0;
  font-family: Roboto
}

logo {
  font-family: TNG_Credits;
}

@font-face {
  font-family: 'TNG_Credits';
  src: local('TNG_Credits'), url(../fonts/TNG_Credits.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: local('Roboto'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}