body {
  margin: 0;
  font-family: Roboto;
  background-color: black;
  color: #F2C300;
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -10;
}

@font-face {
  font-family: 'TNG_Credits';
  src: local('TNG_Credits'), url(../fonts/TNG_Credits.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: local('Roboto'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}

.bg-black {
  background-color: black;
}

.btn-round {
  color: black;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 100px;
  background-color: #5486FB;
}

.btn-round:hover {
  background-color: #f2c300;
  border-color: #f2c300;
}

.btn-round:focus, .btn-round.focus {
  background-color: #f2c300;
  border-color: #f2c300;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-padded{
  padding:  1rem 5rem;
}


.btn-outline-round {
  color: #5486FB;
  border-color: #5486FB;
  color: #F2C300;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 100px;
}

.btn-outline-round:hover {
  color: #fff;
  background-color: #5486FB;
  border-color: #5486FB;
}

.btn-outline-round:focus, .btn-outline-round.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-round.disabled, .btn-outline-round:disabled {
  color: #5486FB;
  background-color: transparent;
}

.btn-outline-round:not(:disabled):not(.disabled):active, .btn-outline-round:not(:disabled):not(.disabled).active,
.show > .btn-outline-round.dropdown-toggle {
  color: #fff;
  background-color: #5486FB;
  border-color: #5486FB;
}

.btn-outline-round:not(:disabled):not(.disabled):active:focus, .btn-outline-round:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-round.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

