.btn-fixed{
    width: 10vw;
    height: 4vh;
    margin-bottom: 1rem;
    vertical-align: middle;
    line-height: 15px;
    font-size: large;
    padding: .7rem;
    font-weight: bold;
}

.small-margin {
    margin-top: 1rem;
  }
.medium-text{
    font-weight: bold;
    font-size: medium;
}

.centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}